.login-page{
  height: 100%;
  width: 100%;
  background-color: rgb(249, 249, 249);
  align-items: center;
  display: flex;

}

.login-container{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 414px;
  height: 238px;
  border-width: 2px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.sub-header{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0px;
}

p{
  font-family: 'proxima_nova_soft', 'Proxima Nova Soft', 'Proxima Nova', Helvetica, Arial, sans-serif;
}

img{
  margin-top: 16px;
  cursor: pointer;
}

.login-header{
  font-size: 32px;
  font-weight: 500;
  color: rgb(102, 102, 102);
  top: 50px;
  margin-bottom: 30px;
  margin-top: 0px;
}
