.request-bar-container{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 6px;
  border: 2px solid transparent;
  height: 24px;
  background-color: white;
  margin-top: 8px;
  font-size: 14px;
  user-select: none;
  box-shadow: 0 2px 8px 0 rgba(102,102,102,0.2);

}

.request-bar-container:focus{
  background-color: rgb(63,179,79);
}

.request-bar-container:hover{
  cursor: pointer;
}

.complete-icon{
  height: 24px;
  width: 24px;
  margin-right: 16px;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.1);
}

.avatar{
  border-radius: 50%;
  background-color: #f2f3f5;
  color: #fff;
  font-size: 20px;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
}

.complete-icon:hover{
  color: rgba(97,88,167,0.595);
  cursor: pointer;
}

.request-bar-container .left p{
  display: inline-block;
  margin: 0px;
  float: left;
  height: 24px;
  text-align: center;
  padding-top: 3px;
  padding-bottom:3px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.request-bar-container .left{
  width: 200px;
  margin-right: 0px;
  display: inline-block;
  float: left;
}

.right{
  float: right;
  display: inline-block;

}
